/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2024 Stella, whose hairs are shiny and soft. (https://teamcons.carrd.co)
 */

dock-window {
    margin: 16px 0 0 0;
    margin-bottom: -12px;
    margin-top: 8px;
}

dock {

    /* Plank at bottom */
    margin-top: 38px;
    margin-bottom: -12px;

    /* Dark, then clear. That border is most of 3D effect */
    outline: 1px solid shade( @bg_color, 0.45);
    border: 1px solid shade( @bg_color, 1.65);
    border-bottom: none;
    
    /* Gradient from clear to dark. Barely noticeable */
    /*background: alpha(@bg_color,1);*/
    background: linear-gradient(to bottom, shade( @bg_color, 1.15), shade( @bg_color, 0.75));

}

/*Launcher*/
launcher {
    transition: 0.5s;
    filter: brightness(100%);
    margin-bottom: 9px;
    
    -gtk-icon-shadow: 0px 1px 1px alpha(black, 0.5);
}

/*Launcher hover*/
launcher:hover {
    transition: 0.5s;
    filter: brightness(140%);
}

/* Move indicator where it used to be with Plank */
.running-indicator {
    color: @accent_color;
    background: none;
    padding-bottom: 0px;
    margin-bottom: -9px; 
}
