/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */
 
dock {
    background: none;
    border-radius: 0px;
    border: 0px ;
    box-shadow: 0px ;
    margin-top: 0px ;
    margin: 0px;
    padding-bottom: none;
    border-bottom: 8px solid alpha(@bg_color, 1);
  
}

.running-indicator {
    color: alpha(@accent_color, 0);
    background: none;
    -gtk-icon-shadow: 1px 1px 1px alpha(black, 0.8);
    -gtk-icon-size: 10px;
}

launcher:hover {
    margin-top: -9px;
}

launcher:hover .running-indicator {
    margin-top: 6px;
}
