/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */
 

dock-window {
    margin: 16px 0 0 0;
    margin-bottom: -12px;
    margin-top: 10px;
}

dock {

    margin-top: 38px;
    margin-bottom: -12px;
    
    border-style: groove;
    border-color: black;
    border-width: 0.8px;
    border-bottom: none;
    
    /*background: alpha(@bg_color,1);
    background: linear-gradient(to bottom, var(--color-lighter), var(--color-darker)));*/
    background: linear-gradient(to bottom, shade( @bg_color, 1.50), shade( @bg_color, 0.50));

}

launcher {
    transition: 0.5s;
    filter: brightness(100%);
    margin-top: -38px;
    margin-bottom: 18px;
}

launcher:hover {
    transition: 0.5s;
    filter: brightness(140%);
}

.running-indicator {
    color: @accent_color;
    background: none;
    padding-bottom: none;
    margin-bottom: -16px; 
}
