/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

dock {
    background: none;
    border-radius: 0px;
    border: none;
    border-bottom: solid 6px @bg_color;
    margin: 0px;
    margin-top: 0;
}

.running-indicator {
    color: rgba(0,0,0,0);
    -gtk-icon-size:12px;
    margin-top: -6px;
    /*border-bottom: solid 3px @accent_color;*/
    box-shadow: 0px 4px 4px alpha(@accent_color, 1);
}
