/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2024 Stella, whose hairs are shiny and soft. (https://teamcons.carrd.co)
 */
dock {
    border: groove 1px #CCC;
    border-bottom: none;
    border-right: none;
}

launcher {
    -gtk-icon-shadow: 1px 1px  2px #000000;
}

launcher:hover {
    margin-top: -9px;
}

launcher:hover .running-indicator {
    margin-top: 6px;
}

.running-indicator {
    color: @accent_color;
    -gtk-icon-shadow: 0.5px 0.5px  2px #000000:
}

