/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2024 Stella, whose hairs are shiny and soft. (https://teamcons.carrd.co)
 */
 
launcher {
    transition: transform .5s;
    z-index: 1;
}

launcher:hover {
    transform: scale(2);
    z-index: 2;
}

